{% extends "index.html" %}
{% block body %}
<body style="background-color: rgb(252, 213, 142); color: rgb(19, 18, 18);">
  
 
  <table class="table">
  <thead>
    <tr rowspan='6'>
      <th></th>
      <th></th>
      <th>
        <center>Customer Details - Table</center></th></tr>
    <tr><th>Customer Id</th>
    <th>Customer Name</th>
    <th>address</th>
    <th>Cant No</th>
    <th>Update</th>
    <th>Delete</th></tr>
  </thead>
  <tbody>
    {% for a in db %}
    <tr>
      <td>{{a.customer_id}}</td>
      <td>{{a.customer_name}}</td>
      <td>{{a.address}}</td>
      <td>{{a.cant_no}}</td>
      <td><a href="update/{{a.id}}" class="btn btn-info">Update</a></td>
      <td><a href="delete/{{a.id}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
  </table><br>

  
  <button class="btn-lg btn-secondary"><a href="{% url 'customer_details' %}"  style="color: white;">Back</a></button>

</body>
{% endblock %}